{% extends "tracker/index.html" %}

{% block content %}

    <h2>Issue details</h2>
    <table class="detailTable">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="attr">Name</td>
                <td>{{ issue.name }}</td>
            </tr>
            <tr>
                <td class="attr">Description</td>
                <td>{{ issue.description }}</td>
            </tr>
            <tr>
                <td class="attr">Reporter</td>
                <td>{{ issue.reporter }}</td>
            </tr>
            <tr>
                <td class="attr">Assignee</td>
                <td>{{ issue.assignee }}</td>
            </tr>
            <tr>
                <td class="attr">State</td>
                <td>{{ issue.get_state_name }}</td>
            </tr>
            <tr>
                <td class="attr">Category</td>
                <td>{{ issue.category }}</td>
            </tr>
            <tr>
                <td class="attr">Spent/Estimate time [h]</td>
                <td>{{ issue.worked_time }}/{{issue.total_time}}</td>
            </tr>            <tr>
                <td class="attr">Issue created</td>
                <td>{{ issue.created }}</td>
            </tr>            <tr>
                <td class="attr">Last update</td>
                <td>{{ issue.updated }}</td>
            </tr>
        </tbody>
    </table> 

    {% if user.is_superuser %}
        <button><a href="{{ detail_url }}" target="_blank">Edit issue</a></button>
    {% endif %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}

