{% extends "tracker/index.html" %}

{% block content %}

    <div class="statistic">
        <h2>Issues statistics</h2>
        <p>Average time spent on issue: {{ avg }}h</p>
        <p>Maximum time spent on issue: {{ max }}h</p>
        <p>Minimum time spent on issue: {{ min }}h</p>
    </div>
    <form action="{% url 'tracker:change_cat' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Change" />
    </form>
    {% if user.is_superuser %}
    <div style="float: left;">
        <button ><a href="../admin/tracker/issue/add/ " target="_blank">Add issue</a></button>
    </div>
    {% endif %}
    {% if issues %}
    <table class="blueTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Reporter</th>
                <th>Assignee</th>
                <th>State</th>
                <th>Spent/Estimate time [h]</th>
                <th>Action</th>
            </tr>
        </thead>
    {% for issue in issues %}
        <tbody>
            <tr>
                <td>{{ issue.name }}</td>
                <td>{{ issue.reporter }}</td>
                <td>{{ issue.assignee }}</td>
                <td>{{ issue.get_state_name }}</td>
                <td>{{ issue.worked_time }} / {{ issue.estimate_time }}</td>
                <td><button><a href="{% url 'tracker:detail' issue.id %}">Detail</a></button></td>
            </tr>
        </tbody>
    {% endfor %}
    </table>

    {% else %}
        <p class="error">No issues are available.</p>
    {% endif %}

{% endblock %}
